<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
          <h1><span class="fa fa-lock"></span> <%= title %></h1>

          <p>Login o Registrarse con:</p>

          <a href="/login" class="btn btn-default">
            <span class="fa fa-user"></span> Login Local
          </a>
          <a href="/signup" class="btn btn-default">
            <span class="fa fa-user"></span> Signup Local
          </a>
      </div>
    </div>
  </body>
</html>
